.cabecalho, #cabecalho-nav, #cabecalho-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    height: 10vh;
}

#cabecalho-img {
    margin-left: 56px;
}

#cabecalho-itens li {
    margin-right: 30px;
}

#cabecalho-itens li a {
    padding: 6px 12px;
    color: var(--cor-secundaria);
    text-decoration: none;
    cursor: pointer;
}

#cabecalho-itens li a:hover {
    color: var(--cor-primaria);
    background-color: var(--cor-detalhes);
    border-radius: 20px;
}

#cabecalho-btn i {
    margin-right: 30px;
    cursor: pointer;
    padding: 12px;
}

#cabecalho-btn i:hover {
    color: var(--cor-primaria);
    background-color: var(--cor-detalhes);
    border-radius: 50%;
}