body{
    width: 100%;
    height: 100%;
    font-family: var(--fonte-padrao);
    font-size: 1rem;
    background-color: var(--cor-primaria);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80vh;
}

#main-home-layout {
    margin-bottom: 150px;
}

#main-title, #main-home-subtitle {
    font-size: 4rem;
    font-weight: bold;
    margin-left: 50px;
}

#main-title {
    color: var(--cor-detalhe1);
}

#main-home-subtitle {
    color: var(--cor-secundaria);
}

#main-home-subtitle-detail {
    color: var(--cor-detalhe1);
}

#main-text {
    margin: 10px 0px 20px 50px;
    color: var(--cor-detalhe2);
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    margin-left: 50px;
}

#button-cv {
    color: var(--cor-primaria);
    font-size: 0.9rem;
    font-weight: bolder;
    width: 8vw;
    height: 5vh;
    background-color: var(--cor-detalhe1);
    border-radius: 20px;
    border: solid 1px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#button-cv:hover {
    transform: scale(1.1);
}

.button-social {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-left: 30px;
    border: solid 1px;
    border-radius: 50%;
    color: var(--cor-primaria);
    background-color: var(--cor-detalhe1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button-social a {
    color: var(--cor-primaria);
}

.button-social:hover {
    transform: scale(1.2);
}

.main-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100vh;
}

.about-layout {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.main-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--cor-secundaria);
}

.dot-color {
    color: var(--cor-detalhe1);
}

#about-text {
    color: var(--cor-secundaria);
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 40vw;
}

#img-about-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: solid 2px var(--cor-detalhe1);
    margin-right: 70px;
    border-radius: 100%;
}

#img-about {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    object-fit: cover;
}

.main-techs {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-techs-subtitle {
    margin-bottom: 30px;
}

#techs-icons {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 80px;
    height: 80px;
}

.icons-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0px 40px;
}

.icons-desc {
    color: var(--cor-secundaria);
    font-size: 1rem;
}

.main-projetos {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#main-projetos-subtitle {
    margin-top: 30px;
}





#main-contato-subtitle {
    margin-top: 30px;
}

#arrow-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    background-color: var(--cor-detalhe1);
    border-radius: 50%;
    border: none;
    margin-left: 96%;
    margin-bottom: 20px;
}

.fa-arrow-up {
    color: var(--cor-primaria);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    color: var(--cor-primaria);
    background-color: var(--cor-detalhe1);  
}