body{
    width: 100%;
    height: 100%;
    font-family: var(--fonte-padrao);
    font-size: 1rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    transition: background 0.2s linear;
}

body.light {
    background-color: var(--bg-light);
    color: var(--cor-primaria);
}

body.light .container .main-home #main-home-layout > #main-text {
    color: var(--cor-terciaria);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.main-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

#main-home-layout {
    margin-bottom: 150px;
}

#main-title, #main-home-subtitle {
    font-size: 4rem;
    font-weight: bold;
    margin-left: 50px;
}

#main-title {
    color: var(--cor-detalhe1);
}

#main-home-subtitle-detail {
    color: var(--cor-detalhe1);
}

#main-text {
    margin: 10px 0px 20px 50px;
    color: var(--cor-detalhe2);
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    margin-left: 50px;
}

#button-cv {
    color: var(--cor-primaria);
    font-size: 0.9rem;
    font-weight: bolder;
    width: 8vw;
    height: 5vh;
    background-color: var(--cor-detalhe1);
    border-radius: 20px;
    border: solid 1px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#button-cv:hover {
    transform: scale(1.1);
}

.button-social {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-left: 30px;
    border: solid 1px;
    border-radius: 50%;
    color: var(--cor-primaria);
    background-color: var(--cor-detalhe1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button-social a {
    color: var(--cor-primaria);
}

.button-social:hover {
    transform: scale(1.2);
}

.main-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100vh;
}

.about-layout {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.main-subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.dot-color {
    color: var(--cor-detalhe1);
}

#about-text {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 40vw;
}

#img-about-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: solid 2px var(--cor-detalhe1);
    margin-right: 70px;
    border-radius: 100%;
}

#img-about {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    object-fit: cover;
}

.main-techs {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-techs-subtitle {
    margin-bottom: 30px;
}

#techs-icons {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 80px;
    height: 80px;
}

.icons-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0px 40px;
}

.icons-desc {
    font-size: 1rem;
}

.main-projetos {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#main-projetos-subtitle {
    margin: 90px 0px 0px 0px;
}

#projetos-layout {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.projetos-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 25vw;
    height: 55vh;
    border: 1px solid var(--cor-terciaria);
    border-radius: 20px;
    background-color: var(--cor-primaria);
    overflow: hidden;
}

.projetos-card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    }

.projetos-card-img {
    width: 100%;
    height: 45%;
    object-fit: cover;
    object-position: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.projetos-card-content {
    margin: 0px 16px;
}

.projetos-card-title {
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--cor-secundaria);

}

.projetos-card-text {
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--cor-secundaria);

}

.projetos-card-techs {
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: var(--cor-secundaria);
}

.card-techs {
    padding: 4px 10px;
    border-radius: 12px;
    background-color: var(--cor-terciaria);
}

.projetos-card-btn-deploy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-btn-deploy {
    width: 80px;
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    background-color: var(--cor-detalhe1);
    cursor: pointer;
}

.card-btn-deploy a {
    color: var(--cor-primaria);
    font-weight: bold;
}

.main-contato {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#main-contato-subtitle {
    margin-top: 90px;
}

#contato-form-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 33vw;
    height: 70vh;
    gap: 8px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    border-radius: 5px;
    margin-top: 20px;
}

.contato-legenda {
    display: flex;
    align-self: flex-start;
    margin: 20px 0px 0px 22px;
}

#contato-nome, #contato-email, #contato-texto {
    width: 30vw;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

#contato-nome, #contato-email {
    height: 4vh;
}

#contato-btn {
    width: 20vw;
    height: 5vh;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--cor-detalhe1);
    color: var(--cor-primaria);
}